

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
background-image: url('https://source.unsplash.com/1200x600/?nature,water" alt="search terms">');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
